<div class="container-fluid">
	<div >
		<div class="row"id="header">
			<div class="col-xs-4">
				<a href="#/favorites" class="btn fa fa-arrow-left pull-left" ></a>
				<a href="#/favorites" class="btn fa fa-times pull-left" ng-click="del()" ng-show="(edit)"></a>
			</div>
			<div class="col-xs-4">
				<div id="detail-header" class="center-block">
					<div class="row">
						<h5 ng-hide="edit">&nbsp;{{user.FirstName}} {{user.LastName}}</h5>
						<input ng-show="edit" type="text" placeholder="Username" ng-model="FullName"></input>
					</div>
					<div class="row">
						<div class="clearfix">&nbsp;</div>
						<div class="pic pro-pic center-block" ng-style="{'background-image': user.ProfilePic}"></div>
					</div>
					<div class="row">
						<div class="clearfix">&nbsp;</div>
						<span ng-if="!edit">{{user.Blurb}}</span>
						<textarea ng-if="edit" ng-model="userEdit.Blurb" wrap="on" placeholder="Blurb" rows="2"></textarea>
						<div class="clearfix">&nbsp;</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4" ng-if="edit">
				<a href="#/favorites" class="btn fa fa-check pull-right" ng-click="submitEdit()"></a>
			</div>
		</div>
	</div>
	<div class="row" id="infoheading">
		<div class="clearfix">&nbsp;</div>
		<div class="col-xs-12">INFORMATION</div>
		<div class="clearfix">&nbsp;</div>
	</div>
	<div class="row" id="info">
		<div class="col-xs-1">
			<div class="pic fav-pic keep-left" ng-style="{'background-image': user.ProfilePic}"></div>
		</div>
		<div class="col-xs-8 col-xs-offset-2">
			<div class="row">
				<div class="col-xs-6">
					<div class="row">
						<span class="info-label">PERSONAL</span>
					</div>
					<div class="row">
						<span ng-if="!edit">{{user.Mobile}}</span>
						<input ng-if="edit" ng-model="userEdit.Mobile" size="12"></input>
					</div>
				</div>
				<div class="col-xs-3">
					<br /><i class="fa fa-comment-o pull-right"></i>
				</div>
				<div class="col-xs-3">
					<br /><i class="fa fa-phone pull-right"></i>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="row">
						<span class="info-label">WORK</span>
					</div>
					<div class="row">
						<span ng-if="!edit">{{user.Mobile2}}</span>
						<input ng-if="edit" ng-model="userEdit.Mobile2" size="12"></input>
					</div>
				</div>
				<div class="col-xs-6">
					<br /><i class="fa fa-phone pull-right"></i>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-xs-6">
					<div class="row">
						<span class="info-label">EMAIL</span>
					</div>
					<div class="row">
						<span ng-if="!edit">{{user.Email}}</span>
						<input ng-if="edit" ng-model="userEdit.Email"></input>
					</div>
				</div>
				<div class="col-xs-6">
				<br />
					<i class="fa fa-envelope-o pull-right"></i>
				</div>
			</div>
		<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>